.one	
	{
		color:red;
	}
.two
	{
		color:yellow;
	}
#forname
	{
		color:blue;
	}
body
	{
		background-image:  url("back.jpg");
		background-repeat: no-repeat;
    	background-attachment: fixed;

	}
.logo
	{
		text-align: center;
		text-rendering: inherit;
		text-shadow: transparent;
		color:blue;
		font-size: 90px;
		font-style: italic;

	}
	input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		text-rendering: inherit;
		text-shadow: transparent;
		font-size: 20px;
		width: 300px;
		font-style: italic;
		opacity: 0.4;
}
	input[type=password]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		text-rendering: inherit;
		text-shadow: transparent;
		font-size: 20px;
		font-style: italic;
		width: 300px;
		opacity: 0.4;
}
	input[type=reset]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		text-rendering: inherit;
		text-shadow: transparent;
		font-size: 20px;
		font-style: italic;
		opacity: 0.8;
}
input[type=submit]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		text-rendering: inherit;
		text-shadow: transparent;
		font-size: 20px;
		font-style: italic;
		opacity: 0.8;
}
input[type=comment]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		text-rendering: inherit;
		text-shadow: transparent;
		font-size: 20px;
		font-style: italic;
		opacity: 0.8;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    display: inline-block;
}
p {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    width: 50%;
    display: inline-block;
    font-size: 40px;

}
button{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		text-rendering: inherit;
		text-shadow: transparent;
		font-size: 20px;
		font-style: italic;
		opacity: 0.8;
		float: right;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}